[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "birk"]
	path = birk
	url = https://github.com/cran/birk
[submodule "measurements"]
	path = measurements
	url = https://github.com/cran/measurements
[submodule "presens"]
	path = presens
	url = https://github.com/cran/presens
[submodule "respirometry"]
	path = respirometry
	url = https://github.com/cran/respirometry
